body {
    background-size: 100%;
    background-image: url(./img/fundoazul.jpeg)
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 300px;
    padding-top: 10px;
}

.foto-jhin{
    height: 500px;
    border: 4px solid royalblue;
    border-radius: 4px;
}
.titulo{
    color: white;
    text-align: center;
    font-size: 50px;
}
.habilidades{
    width: 500px;
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: royalblue;
}
.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 450px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtitulo {
    width: 460px;
    text-align: center;
    font-size: 100px;
    color: white;
    font-size: 50px;
    background-color: royalblue;
}
.texto{
    width: 1300px;
    text-align: center;
    font-size: 27px;
    color: white;
}
.lista {
    display: flex;
    color: white;
    font-size: 17px;
    }
.jhin {
    margin-left: 10px;
    width: 500px;
    height: 290px;
}

footer.rodape{
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 20px;
    position:fixed;
    width: 100%;
    color: white;
    font-size: 14px;
    text-align: center;
}
